.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  width: 100%;
}

.image {
  width: 60%;
  height: 100vh;
  margin: 0;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
}

.sizebtn {
  padding: 0.7rem;
  border: none;
  background: lightgrey;
  border-radius: 2px;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in;
}

.sizebtn:hover {
  background: var(--ui-100);
}

.selected {
  background: var(--brand-deep-blue);
  color: white;
}

.ticker {
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty {
  display: flex;
  align-items: center;
}

.selection {
  margin: 2rem 0;
}

.selection p {
  margin: 0;
  margin-bottom: 0.7rem;
}

.qtybtn {
  height: 38px;
  width: 38px;
  border: none;
  background: none;
  transition: all 0.2s ease-in;
  border-radius: 2px;
}

.qtybtn:hover,
.qtybtn:focus {
  background: var(--logo-color-100);
}

.addbtn {
  font-size: 1.125rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 1.25rem;
  align-self: center;
  display: inline-flex;
  align-items: center;
  background: var(--brand-deep-blue);
  color: white;
  border-radius: 4px;
  transition: background 0.2s ease-in;
  font-weight: 500;
  border: none;
}

.addbtn svg {
  margin-left: 0.7rem;
}

.addbtn:hover {
  background: var(--brand-green);
  color: var(--brand-deep-blue);
}

.tabs {
  margin-top: 2rem;
  max-width: 500px;
}

.tabtitle {
  background: transparent;
  border: none;
  padding: 0.5rem 0;
  font-size: var(--fz-m);
  border-bottom: 1px solid var(--logo-color-400);
}

.content-modules {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 876px) {
  .container {
    flex-direction: column;
  }

  .image,
  .info {
    width: 100%;
  }

  .image {
    height: 50vh;
  }

  .info {
    margin-top: 1rem;
    padding: 0 22px;
  }
}
